./cliente/node_modules
./operador/node_modules
./*/dist
./*/build
./*/.env
.DS_Store
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
.cache/
*.tsbuildinfo